.before-pricing {
    margin-bottom: 10px;
}

.before-pricing .backgrounds .background {
    position: absolute;
    height: 30px;
    left: 0px;
    right: 0px;
    -webkit-animation: bg 2s ease-in-out infinite;
    animation: bg 2s ease-in-out infinite;
}

.before-pricing .backgrounds .background .head {
    position: absolute;
    bottom: 100%;
    left: 0px;
    right: 0px;
    height: 20px;
}

.before-pricing .backgrounds .background.layer-3 {
    background-color: #9d8ba7;
}

.before-pricing .backgrounds .background.layer-3 .head {
    background: url('grapefruitwave_3.svg');
    background-position: -60px 20px;
}

.before-pricing .backgrounds .background.layer-2 {
    background-color: #5d4d66;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.before-pricing .backgrounds .background.layer-2 .head {
    background: url('grapefruitwave_2.svg');
    background-position: -30px 100px;
}

.before-pricing .backgrounds .background.layer-1 {
    height: 50px;
    background-color: #423749;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.before-pricing .backgrounds .background.layer-1 .head {
    background: url(grapefruitwave_1.svg);
}

.before-pricing .backgrounds .strawimage {
    z-index: 10000;
    position: absolute;
    background-size: 30px 1316px;
    width: 30px;
    height: 1097px;
    top: 1170px;
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
    right: 120px;
    -webkit-animation: straw 2s ease-in-out infinite;
    animation: straw 2s ease-in-out infinite;
}

.before-pricing section.content {
    position: absolute;
    top: 150px;
    left: 20px;
    right: 220px;
    color: #fff;
}


@-webkit-keyframes bg {

    0%,
    100% {
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
    }

    50% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes bg {

    0%,
    100% {
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
    }

    50% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes straw {

    0%,
    100% {
        -webkit-transform: translateY(-2px) rotate(6deg);
        transform: translateY(-2px) rotate(6deg);
    }

    50% {
        -webkit-transform: translateY(0px) rotate(6deg);
        transform: translateY(0px) rotate(6deg);
    }
}

@keyframes straw {

    0%,
    100% {
        -webkit-transform: translateY(-2px) rotate(6deg);
        transform: translateY(-2px) rotate(6deg);
    }

    50% {
        -webkit-transform: translateY(0px) rotate(6deg);
        transform: translateY(0px) rotate(6deg);
    }
}
