#portfolio {
    margin-top: -20px;
    padding-top: 0;

}

.portfolio-div-settings {
    height: 100%;
}

#portfolio h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
    text-shadow: 1px 6px 5px #aba8a8;
}

.your-element {
    height: 100%;
    width: 100%;
    cursor: pointer;
    padding-bottom: 10%;
}

.portfolio-margin-top {
    padding-top: 14%;
    padding-bottom: 4%;

}

.portfolio-div-1 {}

.portfolio-div-1:hover {}

.portfolio-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 4%;
    box-shadow: 20px 34px 25px rgba(0, 0, 0, 0.2);
    border: 0.5px grey solid;
}

.background-image-settings {
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    padding-top: 0;
}


#portfolio-1-background-img {
    left: 0;
    width: 50%;
}

#portfolio-2-background-img {
    left: 50%;
    right: 0;
    width: 50%;
}

@media (min-width: 10px) and (max-width: 991px) {
    .portfolio-div-settings {
        height: 100%;
    }

    .your-element {
        height: 100%;
    }

    .portfolio-margin-top {
        padding-top: 0%;
    }

    .portfolio-image {
        padding-top: 10%;
    }


    #portfolio-1-background-img {
        width: 100%;
        background-position: center;
        background-size: auto;
    }

    #portfolio-2-background-img {
        left: 0;
        width: 100%;
    }
}
