#portfolio {
    margin-top: -20px;
    padding-top: 0;
}

.portfolio-div-settings {
    height: 550px;
}

.your-element {
    height: 550px;
    width: 100%;
    cursor: pointer;
}

.portfolio-margin-top {
    padding-top: 10%;
}



.portfolio-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 4%;
}

.background-image-settings {
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    padding-top: 0;
}

#portfolio-1-background-img {
    left: 0;
    width: 50%;
}

#portfolio-2-background-img {
    left: 50%;
    right: 0;
    width: 50%;
}

@media (min-width: 10px) and (max-width: 991px) {
    .portfolio-div-settings {
        height: 100%;
    }

    .your-element {
        height: 100%;
    }

    .portfolio-margin-top {
        padding-top: 0%;
    }

    .portfolio-image {
        padding-top: 10%;
        padding-bottom: 10%;
    }


    #portfolio-1-background-img {
        width: 100%;
        background-position: center;
        background-size: auto;
    }

    #portfolio-2-background-img {
        left: 0;
        width: 100%;
    }
}
