/* -----> Cursive <----- */
font-family: 'Courgette',
cursive;

font-family: 'Fredericka the Great',
cursive;
/* ------- poate */

font-family: 'Bungee Inline',
cursive;

font-family: 'Sriracha',
cursive;

/* -----> Serif <----- */
font-family: 'Halant',
serif;

font-family: 'Hepta Slab',
serif;

font-family: 'Slabo',
serif;

font-family: 'Bentham',
serif;

font-family: 'Buenard',
serif;

/* -----> snas-serif <----- */
font-family: 'Asap',
sans-serif;

font-family: 'Jost',
sans-serif;

font-family: 'Ubuntu',
sans-serif;

font-family: 'PT Sans',
sans-serif;
