#your-local-design-company-section {
    height: 100%;
    background-color: rgb(218, 229, 231);
    margin-bottom: 0;
}

#your-local-design-company-section h2,
h3,
h4 {
    padding: 10px;
    margin-bottom: 30px;
}

#your-local-design-company-section img {
    background-color: rgb(218, 229, 231);
    border-radius: 2%;
}

@media (min-width: 10px) and (max-width: 991px) {
    #local-web-design-image-pc {
        display: none;
    }

    #local-web-design-image-mobile {
        display: block;
    }
}

@media (min-width: 992px) {
    #local-web-design-image-pc {
        display: block;
    }

    #local-web-design-image-mobile {
        display: none;
    }
}

#typer-text {
    font-size: 35px;
    color: #33AFFF;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 500;
}

.txt-type > .txt {
    padding-left: 10px;
    border-right: 0.2rem solid black;
    padding-right: 2px;

}

#section2-box {
    max-width: 700px;
    margin: 0 auto;
}

#section2-box h3 {
    font-size: 30px;
    text-shadow: 1px 6px 5px #aba8a8;
}

.section2-p {
    padding: 10px;
    font-style: oblique;
}

@media (min-width: 10px) and (max-width: 767px) {
    .container {
        margin: 0;
        padding: 0;
    }

    .paragraph h3 {
        text-align: center;
        font-size: 50px;
    }

    #typer-text {
        font-size: 30px;
    }

    .section2-p {
        padding: 0px;
    }
}
